header{
	margin: auto;
	width: 90%;
	background-color:;
	padding: 10px;
	height: 255px;
	border: 10px;

}
/*primer div*/
.ico{
	float: left;
}

h2{
	float: left;
	font-family: "Times New Roman", Times, serif;
	color: red;
	padding: 2px;
	height: 10px;
}

.buscar{
	background-color: #ced6d8;
	float: right;
	margin-right: 150px;
	margin-left: 20px;
	width: 20%;
	height: 30%;
	border: 10px #66ff66;
	border-radius: 80px;
	padding: 10px 10px;
}

.btn{
	float: right;
	background-color: #ced6d8;
	width: 100px;
	height: 40px;
	margin-right: 10px;
	padding: 8px 10px;
	border-radius: 80px;
	font-family: "Times New Roman", Times, serif;

}


/*segundo div navbar*/
nav{
	display: flex;
	justify-content: center;
}

.li{
	border: 10px;
	table-layout: fixed;
}